Repository openhacku-saboten/OmnisCode-backend, pull requests merged in 2021-03, with the labels that each got.

#45 feat: 自作定義エラーの追加
  domain/entity/errors.go
Labels: feat

#47 change: タイムスタンプ用SQLを変更
  migrations/20210319141439-CreatePosts.sql
  migrations/20210319143039-CreateComments.sql
Labels: change

#37 UserのUpdate処理の実装
  controller/user.go
  controller/user_test.go
  infra/user.go
  infra/user_test.go
  main.go
  repository/user.go
  usecase/mock/mock_user.go
  usecase/user.go
Labels: feat

#39 feat: ポスト追加用のエンドポイント実装
  controller/post.go
  controller/post_test.go
  domain/entity/post.go
  domain/entity/post_test.go
  domain/service/entity.go
  domain/service/time.go
  go.sum
  infra/database_test.go
  infra/post.go
  infra/post_test.go
  infra/user_test.go
  main.go
  repository/post.go
  usecase/mock/mock_post.go
  usecase/post.go
  usecase/post_test.go
Labels: feat

#50 fix: CDでタグをつけるよう修正
  .github/workflows/cd.yml
Labels: bug

#51 feat: GET /post/{postID} 用のハンドラを実装
  controller/post.go
  controller/post_test.go
  infra/post.go
  infra/post_test.go
  main.go
  repository/post.go
  usecase/mock/mock_auth.go
  usecase/mock/mock_post.go
  usecase/mock/mock_user.go
  usecase/post.go
  usecase/post_test.go
Labels: feat

#40 CommentのGetByPostIDの実装
  controller/comment.go
  controller/comment_test.go
  docs/swagger.yaml
  domain/entity/comment.go
  domain/entity/comment_test.go
  domain/entity/errors.go
  infra/comment.go
  infra/comment_test.go
  main.go
  repository/comment.go
  usecase/comment.go
  usecase/mock/mock_comment.go
Labels: feat

#55 fix: prodに足りないものを追加
  docker/Dockerfile.prod.backend
Labels: bug

#54 error.Asのバグを修正
  controller/comment.go
  controller/post.go
  controller/user.go
Labels: bug

#22 feat: ポストの一覧取得機能の追加
  controller/post.go
  controller/post_test.go
  domain/service/entity.go
  go.mod
  go.sum
  infra/comment_test.go
  infra/post.go
  infra/post_test.go
  main.go
  repository/post.go
  usecase/mock/mock_comment.go
  usecase/mock/mock_post.go
  usecase/post.go
  usecase/post_test.go
Labels: feat

#52 feat: GET /user/{userID}/post のハンドラ実装を追加
  controller/user.go
  controller/user_test.go
  infra/post.go
  infra/post_test.go
  infra/user.go
  main.go
  repository/post.go
  repository/user.go
  usecase/mock/mock_post.go
  usecase/user.go
  usecase/user_test.go
Labels: feat

#60 Createの際に返すStatusCodeが200になっていたので201に修正
  controller/user.go
  controller/user_test.go
Labels: bug

#57 コメント作成機能の実装
  controller/comment.go
  controller/comment_test.go
  domain/entity/comment.go
  domain/entity/comment_test.go
  domain/entity/errors.go
  infra/comment.go
  infra/comment_test.go
  main.go
  repository/comment.go
  usecase/comment.go
  usecase/mock/mock_auth.go
  usecase/mock/mock_comment.go
  usecase/mock/mock_post.go
  usecase/mock/mock_user.go
Labels: feat

#59 コメントをIDで取得する処理の追加
  controller/comment.go
  controller/comment_test.go
  infra/comment.go
  infra/comment_test.go
  main.go
  repository/comment.go
  usecase/comment.go
  usecase/mock/mock_comment.go
Labels: feat

#53 feat: GET /user/{userID}/comment のハンドラ実装を追加
  controller/user.go
  controller/user_test.go
  infra/comment.go
  infra/comment_test.go
  main.go
  repository/comment.go
  usecase/mock/mock_auth.go
  usecase/mock/mock_comment.go
  usecase/mock/mock_post.go
  usecase/mock/mock_user.go
  usecase/user.go
  usecase/user_test.go
Labels: feat

#61 chore: golangci-lintの設定ファイルを追加
  .golangci.yml
  Makefile
  config/config.go
  config/config_test.go
  controller/auth_middleware.go
  controller/comment.go
  controller/comment_test.go
  controller/post.go
  controller/user.go
  domain/entity/comment.go
  domain/entity/errors.go
  domain/entity/post.go
  domain/entity/user.go
  domain/service/entity.go
  infra/auth.go
  infra/comment.go
  infra/database.go
  infra/post.go
  infra/user.go
  infra/user_test.go
  repository/comment.go
  repository/post.go
  repository/user.go
  usecase/auth.go
  usecase/comment.go
  usecase/post.go
  usecase/user.go
Labels: chore

#66 feat: graceful shutdownを追加
  main.go
Labels: feat

#69 script/run.shをdocker/run.shに移動
  docker/Dockerfile.backend
  docker/run.sh
Labels: change

#65 feat: リクエストが切れた時にDB操作も即時終了するような機能追加
  controller/comment.go
  controller/comment_test.go
  controller/user.go
  controller/user_test.go
  infra/comment.go
  infra/comment_test.go
  infra/post.go
  infra/user.go
  infra/user_test.go
  repository/comment.go
  repository/user.go
  usecase/comment.go
  usecase/mock/mock_comment.go
  usecase/mock/mock_user.go
  usecase/user.go
Labels: feat

#70 Post CreateのレスポンスにPostの内容を含めるように修正
  controller/post.go
  controller/post_test.go
  docs/swagger.yaml
  infra/post.go
  infra/post_test.go
Labels: change

#68 feat: READMEにリポジトリの取り扱い方やバッジを追加
  README.md
  config/README.md
  controller/README.md
  docs/architecture.md
  domain/README.md
  domain/entity/README.md
  domain/service/README.md
  infra/README.md
  infra/auth.go
  infra/comment.go
  infra/post.go
  infra/user.go
  repository/README.md
  repository/comment.go
  repository/post.go
  repository/user.go
  usecase/README.md
Labels: chore

#63 feat: PUT /post/{postID}のためのハンドラ追加
  controller/post.go
  controller/post_test.go
  controller/user_test.go
  domain/entity/errors.go
  domain/entity/post.go
  infra/post.go
  infra/post_test.go
  main.go
  repository/post.go
  usecase/mock/mock_post.go
  usecase/post.go
  usecase/post_test.go
Labels: feat

#64 feat: PUT /post/{postID}/comment/{commentID}のハンドラ実装を追加
  controller/comment.go
  controller/comment_test.go
  infra/comment.go
  infra/comment_test.go
  main.go
  repository/comment.go
  usecase/comment.go
  usecase/mock/mock_comment.go
Labels: feat

#67 change: repositoryのmockgen用のコメント変更
  controller/auth_middleware_test.go
  controller/comment_test.go
  controller/post_test.go
  controller/user_test.go
  infra/mock/README.md
  infra/mock/mock_auth.go
  infra/mock/mock_comment.go
  infra/mock/mock_post.go
  infra/mock/mock_user.go
  repository/auth.go
  repository/comment.go
  repository/post.go
  repository/user.go
  usecase/post_test.go
  usecase/user_test.go
Labels: change

#72 fix: 正しく取得できていなかったIDを取得するように修正
  controller/comment.go
  controller/comment_test.go
  controller/post.go
  controller/post_test.go
Labels: bug

#73 fix: GET /post/{postID} で、CodeとしてTitleを渡していたため修正
  infra/post.go
Labels: bug

#62 コメントの削除機能の追加
  controller/comment.go
  controller/comment_test.go
  go.mod
  go.sum
  infra/comment.go
  infra/comment_test.go
  infra/mock/mock_auth.go
  infra/mock/mock_comment.go
  infra/mock/mock_post.go
  infra/mock/mock_user.go
  main.go
  repository/comment.go
  usecase/comment.go
Labels: feat

#77 ForbiddenをNotFoundに修正
  controller/post.go
  controller/post_test.go
Labels: bug

#76 Post, CommentのUpdateでValidationが行われていない
  infra/comment.go
  infra/post.go
Labels: bug
